<div class="top-bar">
  <div>
    <a href="/main-pages/island.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-umbrella-beach"></i>
    </a>
    <a href="/main-pages/house.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-bed"></i>
    </a>
    <a href="/main-pages/levels.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-code"></i>
    </a>
  </div>

  <div class="resource-container">
    <div class="resource-item">
      <span class="resource-icon">⚡️</span>
      <span id="energyDisplay"></span>
    </div>
    <div class="resource-item">
      <span class="resource-icon">❤️</span>
      <span id="healthDisplay"></span>
    </div>
    <div class="resource-item">
      <span class="resource-icon">💰</span>
      <span id="moneyDisplay"></span>
    </div>
  </div>

  <div>
    <button class="bar-button" id="settingsBtn" data-sound="icon">
      <i class="fa-solid fa-gear"></i>
    </button>
    <a href="/side-pages/perfil.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-user"></i>
    </a>
    <a href="/main-pages/start-menu.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>

<!-- Settings Modal -->
<div id="settingsModal" class="modal">
  <div class="modal-content settings-modal-content">
    <h2 class="settings-modal-title">Settings</h2>
    
    <div class="setting-row">
      <span class="setting-label">Background Music</span>
      <label class="toggle-switch">
        <input type="checkbox" id="bgmToggle" checked />
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-row">
      <span class="setting-label">Sound Effects</span>
      <label class="toggle-switch">
        <input type="checkbox" id="sfxToggle" checked />
        <span class="slider"></span>
      </label>
    </div>

    <div class="setting-row">
      <span class="setting-label">Volume</span>
      <div class="volume-slider">
        <input type="range" id="volumeSlider" min="0" max="100" value="60" />
        <span class="volume-display" id="volumeDisplay">60%</span>
      </div>
    </div>

    <div class="setting-row">
      <span class="setting-label">Hints & Clues</span>
      <label class="toggle-switch">
        <input type="checkbox" id="hintsToggle" checked />
        <span class="slider"></span>
      </label>
    </div>

    <button id="closeSettingsBtn" class="modal-close-btn">Close</button>
  </div>
</div>