/* ========== TOP BAR ========== */
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--navbar-bg);
  box-shadow: 0 2px 8px var(--navbar-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  z-index: 10;
  backdrop-filter: blur(6px); 
}

.bar-button {
  display: inline-block;
  padding: 8px 15px;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  background-color: var(--button-base);
  color: var(--button-text);
  border: 2px solid var(--button-border);
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.bar-button:hover {
  background-color: var(--button-hover);
  transform: translateY(-1px);
}

.bar-button:active {
  transform: translateY(1px);
}

.resource-container {
  display: flex;
  gap: 30px;
}

.resource-item {
  display: flex;
  align-items: center;
  color: var(--color-dark-teal);
  font-size: 1.2rem;
  font-weight: bold;
}

.resource-icon {
  margin-right: 5px;
  font-size: 1.5rem;
  color: var(--accent-teal);
}

/* ANIMATION FOR CHANGES  */
.resource-change-gain {
  animation: popUp 0.5s ease;
}

.resource-change-loss {
  animation: shakeRed 0.5s ease;
}

@keyframes popUp {
  0% {
    transform: scale(1);
    opacity: 0.5;
    color: var(--correct-border);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
    color: var(--correct-border);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    color: inherit;
  }
}

@keyframes shakeRed {
  0%,
  100% {
    transform: translateX(0);
    color: inherit;
  }
  20% {
    transform: translateX(-5px);
    color: var(--incorrect-border);
  }
  40% {
    transform: translateX(5px);
    color: var(--incorrect-border);
  }
  60% {
    transform: translateX(-5px);
    color: var(--incorrect-border);
  }
  80% {
    transform: translateX(5px);
    color: var(--incorrect-border);
  }
}
