<div class="top-bar">
  <div>
    <a href="/main-pages/island.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-umbrella-beach"></i>
    </a>
    <a href="/main-pages/house.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-bed"></i>
    </a>
    <a href="/main-pages/levels.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-code"></i>
    </a>
  </div>

  <div class="resource-container">
    <div class="resource-item">
      <span class="resource-icon">⚡️</span>
      <span id="energyDisplay"></span>
    </div>
    <div class="resource-item">
      <span class="resource-icon">❤️</span>
      <span id="healthDisplay"></span>
    </div>
    <div class="resource-item">
      <span class="resource-icon">💰</span>
      <span id="moneyDisplay"></span>
    </div>
  </div>

  <div>
    <a href="/side-pages/perfil.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-user"></i>
    </a>
    <a href="/main-pages/start-menu.html" class="bar-button" data-sound="icon">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>
